@page
@model IndexModel
@{
    ViewData["Title"] = "Выбор";
}
<div class="row justify-content-center">
    <div class="col-10">
        <div class="text-left pl-5">
            <h1>Шифруем!!!</h1>
        </div>
        <div class="pt-4">
            <a class="btn btn-outline-info col-12" asp-page="/TheVigenerCipher"><h3>Шифр Виженера</h3></a>
        </div>
        <div class="pt-4">
            <p>Хотел успеть сделать больше, но, как оказалось, слишком на многое рассчитывал, тут то словил пару проблем, не доделал и не успеюdirectory + "result.docx";</p>
        </div>
        <div class="pt-4">
            
            <button class="btn btn-outline-info col-12 disabled"><h3>Какой-нибудь ещё шифр</h3></button>
        </div>
    </div>
</div>